@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

.skills-section {
  padding: 2rem;
  background-color: #1e1e1e;
  color: #fff;
  font-family: 'Space Mono', monospace;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.skills-container {
  width: 100%;
  flex-direction: column;
}

.skills-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-category {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 2px dashed #fff;
  border-radius: 10px;
}

.skill-category h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: #0ff;
}

.skill-col {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.skill-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 8vh;
}

.skill-name {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-name span {
  margin-top: 0.5rem;
}

.skill-divider {
  border-top: 1px solid #fff;
  width: 100%;
  margin-top: 1rem;
}
