@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

.skills-section {
  background-color: #1A032B;
  color: #fff;
  font-family: 'Space Mono', monospace;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.skills-container {
  width: 100%;
  flex-direction: column;
}

.skills-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-category {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.skill-category::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  border-radius: 10px;
  background: conic-gradient(from 0deg, #0ff, #1A032B, #0ff, #1A032B);
  background-size: 200% 200%;
  z-index: -1;
  animation: animate-border 8s linear infinite;
}

.skill-category::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: #1A032B;
  z-index: -1;
  border-radius: 8px;
}

@keyframes animate-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.skill-category h2 {
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: #0ff;
}

.skill-col {
  position: relative;
  z-index: 1;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.skill-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 8vw;
}

.skill-name {
  margin-top: 0.5rem;
  font-size: 0.7rem;
  font-weight: bold;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-name span {
  margin-top: 0.5rem;
}

.skill-icon {
  font-size: 1.3rem;
}

.skill-divider {
  border-top: 1px solid #fff;
  width: 100%;
  margin-top: 1rem;
}

@media (max-width: 992px) {
  .skills-section {
    height: 100vh;
  }
  .skills-container{
    padding-bottom: 40px;
  }
}
