.container-fluid {
  height: 100vh; 
  overflow-y: auto;
}

.sidebar {
  background-color: #000;
  color: white;
  padding-top: 20px;
  font-family: 'Space Mono', monospace;
  border-right: #fff;
  border-style: dashed;
  border-left: #000;
  border-top: #000;
  cursor: pointer;
  border-bottom: #000;
}

.profile {
  margin-bottom: 20px;
}


.nav-link {
  font-size: 1.1rem;
  margin: 10px 0;
  color: white;
}

.nav-link .icon {
  margin-right: 8px;
  width: 1.5rem;
}

.nav-link.active {
  font-weight: bold;
  background-color: #495057;
  color:#0ff;
  border-radius: 0.25rem;
  text-decoration: underline;
}
.nav-link:hover{
  font-weight: bold;
  color: #0ff;
  border-radius: 0.25rem;
}
@media (max-width: 992) {
  .container-fluid {
    height: 100vh; 
    overflow-y: auto;
  }
}
